/* Global Styles */
/*Header part*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #5F43B2; /* Base color */
    /*overflow: hidden; /* Prevent scrollbars */
}

.banner_mntb {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#backgroundVideo {
    position: absolute; /* Make the video fill the entire container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Stretch video to cover the container */
}

/* Main Content */
.forpass-container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 2;
    margin: 80px 200px 100px 200px;
    font-family: 'baloo 2', sans-serif;
}

.forpass-form {
    background-color: #F5F5F5;
    padding: 100px 250px 100px 250px;
    border-radius: 20px;
    width: 100%;
    display: grid;
}

.close-button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    margin-left: auto;
}

.forpass-form h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    text-shadow: 0 0 1px #000, 0 0 1px #000;
}

.forpass-form p {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.forpass-form label {
    color: #000000;
    font-weight: bold;
}

.forpass-form input[type="text"],
.forpass-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: #000000;
    border: 3px solid #8E8AA6;
    background: #F5F5F5;
}



.forpass-form button {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    border: 3px solid #3A3153;
    background-color: #3A3153;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    color: #fff;
    letter-spacing: 3px;
}

.forpass-form button:hover {
    background-color: #fff;
    color: #3A3153;
    border-color: #3A3153;
}